Code\Application\.vs\Legacy Rentals\v15
Code\Application\WindowsForm1\obj\Debug
Code\Application\WindowsForm1\bin\Debug
Code\Application\.vs\Legacy Rentals\v15\Server\sqlite3\
Code\Application\WindowsFormsApp1\obj\Debug\
